.cad-container {
    width: 100%;
    height: 100%;  
    font-family: 'Times New Roman', Times, serif;
    background-image: url('../../../assets/img/background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* align-self: baseline; */

    display: flex;
    justify-content: center;
}

.debug {
    border: 1px dotted red;
}

input {
    border: none;
    outline: none;
    margin-right: 10px;
    width: 300px;
}

.wrapper {
    font-family: 'Times New Roman', Times, serif;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent !important;
}


.cad-form {
    width: 90%;
}
.inline{
    display: inline;
    font-weight : lighter;
}
.cad-input-group {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cad-button-group {
   /* background-color: yellowgreen; */
}

.cad-input-ssm {
    /* background-color: transparent; */
    font-size: 1.5em;
    width: 100%;
    border-radius: 5px;
}

.cad-input-sm {
    /* background-color: transparent; */
    font-size: 1.5em;
    width: 100%;
    border-radius: 5px;
}

.cad-input-ms {
    /* background-color: transparent; */
    font-size: 1.5em;
    width: 100%;
    border-radius: 5px;
}

.cad-input-ls {
    /* background-color: transparent; */
    width: 100%;
    font-size: 1.5em;
    border-radius: 5px;
}

.cad-input-lss {
    /* background-color: transparent; */
    font-size: 1.5em;
    width: 100%;
    border-radius: 5px;    
}

.cad-btn {
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    width: 200px;
    height: 55px;
    font-size: 1.5em;
    text-align: center;
    border: 4px solid rgb(238, 191, 104);
    box-shadow: 1px 1px 1.2px 0px rgb(245, 217, 166);
    border-radius: 6px;
    background-color: whitesmoke;
    display: block;
    margin: 35px auto;
}

.label-input {
    font-size: 1.0em;
    color: black;
    font-weight: bold;
    text-align: left;
}
.row-type-mens{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.cad-type{
    width: 70% !important;
}
.cad-type-header {
    font-size: 1.5rem;
    display: inline-table;
}

.cad-option-group {
    /* height: 350px; */
    /* background-color: purple; */
    display: flex;
    flex-wrap: wrap;
}

.cad-option-view {
    font-size: 1.2em;
    width: 80%;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.cad-option-view-header {
    font-size: 1.8em;
    display: flex;
    align-items: center;
    /* background-color: green; */
}

.checkboxe {
    cursor: pointer;
    /* position: absolute; */
    width: 20px;
    height: 20px;
    /* top: 0; */
    /* border-radius: 4px; */
    margin-left: 4.5%;
    margin-right: 4.5%;
}

.icon-check{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    /* background-color: aquamarine; */
}

.vertical-img {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

li {
    list-style-type: none;
}

.divInputCadastro{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0.5rem;
}

.divInputCadastroEstado{
    width: 39%
}

.divInputCadastroCidade{
    width: 60%;
}

.divCadastroEndereco{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.divSenha{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.divInputCadastroSenha{
    width: 49%;
}

.divContato{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.divInputCadastroContato{
    width: 49%;
}

.divNomeData{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.divInputCadastroNome{
    width: 69%;
}

.divInputCadastroData{
    width: 30%;
}

.divVantagens{
    margin-top: 0.5rem;
    display: flex;
}

.divCheckBox{
    margin-top: 1rem;
    display: flex;
}

.divInputCheckBox{
    width: 10%;
    display: flex;
    justify-content: center;
}

.checkmark{
    background-color: red;
}

.divInputCheckBox > input{
    margin: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.cad-mens{
    width: 30%;
}
.cad-mensalidade{
    text-align: center;
}
.cad-detalhes{
    text-align: center;
}
.divInputMensalidade{
    width: 50%;
    height: 25px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5%;
    font-size: 1.5rem;
    
}
@media only screen and (max-width: 600px) {
    .row-type-mens{
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
}