input {
    border: none;
    outline: none;
    border-bottom: 1px solid #AAA;
    width: 300px;
  }
  
  .wrapper{
  
      font-family: 'Times New Roman', Times, serif;
      width: 100%;
      /* height: 100%; */
      display: flex;
      /* flex-direction: column; */
      align-items: center;
      justify-content: center;
      
      background: url('../../../assets/img/background.png') !important; 
      /* background-attachment: fixed; */
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important
  }
  
  .cad-container{
      width: 1600px;
      height: 1200px;
      display: flex;
      background-image: url('../../../assets/img/Pergaminho-cadastro.png') !important;
      translate: 180deg;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      /*-webkit-background-size: cover !important; */
      /*-moz-background-size: cover !important; */
      /*-o-background-size: cover !important; */
      background-size: contain !important;
  }
  
  .cad-form{
      font-size: 1.7em;
      margin-top: 10%;
      margin-left: 350px;
      margin-right: 350px;
  }
  
  .cad-input-group{
      text-align: justify;
  }
  
  .cad-button-group{
      background-color: yellowgreen;
  }
  
  .cad-input-sm{
      outline: none !important;
  
      height: 55px;
      width: 250px;
      background-color: transparent;
      font-size: 25px;
  }
  
  .cad-input-ms{
      height: 55px;
      width: 300px;
      background-color: transparent;
      font-size: 25px;
  }
  
  .cad-input-ls{
      height: 55px;
      width: 450px;
      background-color: transparent;
      font-size: 25px;
  }
  
  .cad-input-lss{
      height: 55px;
      width: 750px;
      background-color: transparent;
      font-size: 25px;
  }
  
  .cad-btn{
      font-family: 'Times New Roman', Times, serif;
      cursor: pointer;
      width: 130px;
      height: 35px;
      font-size: 0.7em;
      text-align: center;
      border: 2px solid rgb(238, 191, 104);
      box-shadow: 1px 1px 1.2px 0px rgb(245, 217, 166);
      border-radius: 6px;
      background-color: whitesmoke;
      margin-left: 10px;
  }
  
  .cad-option-group{
      background-color: purple;
      display: row;
  }
  
  .cad-option1{
      width: 30px;
      display: block;
      position: relative;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: red;
  }
  
  .cad-option2{
      width: 30px;
      display: block;
      position: relative;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: blue;
  }
  
  .cad-option-view{
      display: block;
      position: relative;
      font-size: 0.6em;
      background-color: green;
  }
  
  .checkboxe{
      cursor: pointer;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      border-radius: 4px;
  }
  
  .vertical-img {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  }
  
  .li-no-dots{
      list-style-type: none; 
  }
  
  .tipo-cad{
      font-size: 0.9em;
  }
  
  @media only screen and (max-width: 1486px) {
    /* For everything lower than 1486px */
      
  }
  
  @media only screen and (max-width: 1024px) {
    /* For everything lower than 1024px */
      
  }
  
  @media only screen and (max-width: 768px) {
    /* For everything lower than 768px */
      
  }
  
  @media only screen and (max-width: 425px) {
    /* For everything lower than 425px */
      
  }