.principalModulo{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    align-self: baseline;
}

.containerADM{
    background-image: url('../../../../src/assets/img/background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.cardModulo{
    border: solid black 1px;
    border-radius: 20px;
    width: 20%;
    height: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #FFF8EE;
    /* background-color: rgb(235, 219, 181); */
    padding: 10px;
}

.nomeCurso{
    margin: 0;
    text-align: center;
}

.qtdCurso{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.botoes{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.abrirModulo{
    background-color: greenyellow;
    border-radius: 7px;
    height: 1.75rem;
    width: 5rem;
    cursor: pointer;
    border: none;
}

.editarModulo{
    background-color: #3667FC;
    border-radius: 7px;
    height: 1.75rem;
    width: 5rem;
    border: none;
    cursor: pointer;
}

.editarModulo:hover{
    font-weight: bold;
    color: white;
}

.removerModulo{
    background-color: red;
    border-radius: 7px;
    height: 1.75rem;
    width: 5rem;
    border: none;
    cursor: pointer;
}

.abrirModulo:hover{
    background-color: green;
    font-weight: bold;
    color:white
}

.removerModulo:hover{
    background-color: #CC0D0D;
    font-weight: bold;
    color: white;
}

.criarModulo{
    border:none;
    border-radius: 4px;
    width: 7rem;
    height: 2rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    
    background-color: #00ADC2;
    color: white;
    cursor: pointer;
}

.criarModulo:hover{
    font-weight: bold;
}

.modalModulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloCriarModulo{text-align: center}

.inputNomeModulo{
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.modalTamanho{
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5rem;


    height: 50%;
    width: 50%;

    border-radius: 30px;

    outline: 0;

    background-image: url('../../../../src/assets/img/background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    justify-content: center;
}

.botoesModulo{
    display: flex;
    align-items: center;
}

.aprovarModulo{
    border:none;
    border-radius: 4px;
    width: 7rem;
    height: 2rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    
    background-color: #3667FC;
    color: white;
    cursor: pointer;
}

.aprovarModulo:hover{
    font-weight: bold;
}