.divPrincipalServicos{
    height: 100%;
    width: 100%;
    
    background-image: url('../../../../src/assets/img/background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    align-self: baseline;
}

.containerServico{
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.headerServicos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem 0 2rem;
}

.botaoCriarServico{
    background-color: #26DA0D;
    border-radius: 7px;
    height: 2rem;
    width: auto;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.botaoCriarServico:hover{

}

.pesquisarServico{
    border-radius: 5px;
    border-style: none;
    padding-left: 0.25rem;
    height: 2rem;
}

.tabelaServicos{
    width: 100%;
    padding: 1rem 5rem 0 5rem;
}

.descricaoServico{
    margin-bottom: 10px;

    border-radius: 3px;
    /* height: 6.5rem; */
    width: 70vw;
    margin-right: 10px;
    margin-top: 0.5rem;
    text-align: left;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;

    border-top: none;
    border-left: none;
    border-right: none;
    outline: 0;
    resize: none;
}

.divServicos{
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.imgServico{
    width: 20%;
    height: auto;
    margin-right: 1rem;
}

.infoServico{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
}

.precoServico{
    margin-right: 2rem;
    align-items: center;
    font-size: 1.25rem;
}

.nomeServico{
    font-size: 1.5rem;
    margin-top: 2%;
    margin-bottom: 2%;
}

.botoesServico{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-right: 1rem;
}

.botaoEditarServico{
    background-color: #4673F6;
    border-radius: 7px;
    height: 1.75rem;
    width: 5rem;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
    outline: none;
}

.botaoRemoverServico{
    background-color: #F64646;
    border-radius: 7px;
    height: 1.75rem;
    width: 5rem;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
    outline: none;
}

.duracaoAula{
    display: flex;
    align-items: center;
}

.botaoServicosPendentes{
    background-color: #3667FC;
    border-radius: 7px;
    height: 2rem;
    width: 5rem;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
    outline: none;
}

.infoTextoServicos{
    display: flex;
    flex-direction: column;
}

.valorServico{
    width: 45px;
}

@media only screen and (max-width: 600px) {
    .pesquisarServico{
        width: 60%;
        margin: 0;
    }

    .tituloServicosAdmin{
        margin-left: 15px;
        margin-right: 15px;
    }

    .headerServicos{
        padding-right: 5px;
        padding-left: 5px;
    }

    .infoServico{
        width: 30%;
    }

    .infoTextoServicos{
        width: 100%;
    }

    .descricaoServico{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .idServico{
        width: 100%;
    }

    .nomeServico{
        width: 100%;
    }

    .tabelaServicos{
        padding-right: 10px;
        padding-left: 10px;
    }
  }