.mainToBackGND{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-image: url('../../../assets/img/background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.mainToBackGND > .articleTitle{
    width: 80%;
    height: 15%;
    text-align: center;
    margin-top: 4%;
}
.articleTitle > .title{
    color: black;

}
.mainToBackGND > .articleContent{
    width: 60%;
    /* height: 35%; */
    padding: 4%;
    overflow: auto;
    text-align: justify;
}

.articleContent > .Text{
    font-size: 1.2em;
}

.mainToBackGND > .Ref{
    width:45%;
    height: 10%;
    text-align: center;
    overflow: auto;
}
.refText{
    font-style: normal;
    font-weight: bold;
    font-size: 1.4em;

}

.mainToBackGND > button{
    width: 12%;
    height: 6%;
    border-width: medium;
    border-style: solid;
    border-color: #E3BF78;
    border-radius: 3%;
    background-color:white;
}

.mainToBackGND > button:hover{
    background-color:#E3BF78;
}