.carrosselContainer{
  font-family: 'Times New Roman', Times, serif;
  padding-left: 350px;
  padding-right: 350px;
}

#review-coments{
  font-size: 17px;
  padding-left: 165px;
  padding-right: 165px;
  text-align: justify;
}

.review{
  display: flex;
}
.carousel .slide{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../assets/img/PergaminhoPreview.png');
  background-color: transparent;
  background-position: center;
  transition: .35s ease-in-out;
  height: 900px;
}

.legend {
  bottom: 0px;
  background: transparent !important;
  color: rgb(37, 37, 37) !important;
  bottom: 275px !important;
  opacity: 1;
  transition: opacity 0 none;
}

.legend div{
  border: 5px solid wheat;
  width: 120px;
  height: 120px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: 99px;
}

.carousel .control-arrow .control-next{
  margin-top: 90px;
  height: 600px;
  width: 20px;
}