.user-review-title{
    font-size: 2.7em;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-align: center;
    color: #696969;
}

.carrosselContainer{
  font-family: 'Times New Roman', Times, serif;
}

#review-coments{
  font-size: 1.7em;
  text-align: justify;
}

.review{
  display: flex;
}
.carousel .slide{
  background-size: cover;
  background-repeat: no-repeat;
  /*background-color: transparent;*/
  background-color: transparent;
  background-position: center;
  transition: .35s ease-in-out;
  height: 900px;
}

.legend {
  bottom: 0px;
  background: transparent !important;
  color: rgb(37, 37, 37) !important;
  bottom: 400px !important;
  opacity: 1;
  transition: opacity 0 none;
}

.legend div{
  border: 5px solid wheat;
  width: 120px;
  height: 120px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: 99px;
}

.carousel .control-arrow .control-next{
  margin-top: 90px;
  height: 600px;
  width: 20px;
}

@media only screen and (max-width: 425px) {
  /* For everything lower than 768px */
    .legend {
    bottom: 0px;
    background: transparent !important;
    color: rgb(37, 37, 37) !important;
    bottom: 15% !important;
    opacity: 1;
    transition: opacity 0 none;
    }
}

@media only screen and (max-width: 320px) {
  /* For everything lower than 768px */
    .legend {
    bottom: 0px;
    background: transparent !important;
    color: rgb(37, 37, 37) !important;
    bottom: 10% !important;
    opacity: 1;
    transition: opacity 0 none;
    }
}