.debug {
    border: 1px dotted red;
}

.cad-blog-container{
    width: 100vw;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    background-image: url('../../../assets/img/background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent !important;
}

.cad-blog-box{
    margin-left: 10%;
    width: fit-content;
    height: auto;
    display: inline-block;
}

.cad-blog-title-input-container{
    display: flex;
    margin-top: 5%;
    margin-left: 20%;
}

.cad-blog-title-input{
    border: none;
    outline: none;
    margin-right: 10px;
    border-bottom: 1px solid #AAA;
    width: 900px;
    background-color: transparent;
    font-size: 2.3em;
}

.cad-blog-label-input{
    font-size: 2.3em;
    display: flex;
    text-align: left;
    display: flex;
    flex-direction: row;
    padding-right: 64px;
    padding-left: 10px;
}

.cad-blog-bgd-container{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    /* background-color: red; */
}

.cad-blog-label-bgd {
    margin-top: 7.5%;
    margin-left: 5%;    
    font-size: 2.3em;
    display: block;
}

.cad-blog-image-header{
    margin-left: 5%;
    width: 900px;
    height: 220px;
    background-image: url('../../../assets/img/curso-image-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cad-blog-load-image-btn {
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    width: 200px;
    height: 55px;
    font-size: 1.5em;
    text-align: center;
    border: 3px solid #ccc;
    box-shadow: 1px 1px 1.2px 0px #999;
    border-radius: 30px;
    background-color: #fafafa;
    display: block;
    margin: 75px auto;
}

.cad-blog-textarea-container{
    display: block;
    margin-top: 10%;
    margin-left: 5%;
}

.cad-blog-label {
    font-size: 1.8em;
    display: block;
    margin-bottom: 10px;
}

.cad-blog-textarea{
    font-size: 1.6em;
    text-align: justify;
    white-space: normal;
    width: 1350px;
    height: 575px;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.cad-blog-submit-btn{
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    width: 200px;
    height: 55px;
    font-size: 1.5em;
    text-align: center;
    border: 4px solid rgb(238, 191, 104);
    box-shadow: 1px 1px 1.2px 0px rgb(245, 217, 166);
    border-radius: 6px;
    background-color: whitesmoke;
    display: block;
    margin: 75px auto;
}

@media only screen and (max-width: 1700px) {

    .cad-blog-box{
        margin-left: 10%;
        width: fit-content;
        height: auto;
        display: inline-block;
    }

    .cad-blog-title-input-container{
        display: flex;
        margin-top: 5%;
        margin-left: 22%;
    }

    .cad-blog-title-input{
        border: none;
        outline: none;
        margin-right: 10px;
        border-bottom: 1px solid #AAA;
        width: 600px;
        font-size: 2.3em;
    }

    .cad-blog-label-input{
        font-size: 2.3em;
        padding-right: 64px;
        padding-left: 10px;
    }

    .cad-blog-bgd-container{
        margin-top: 5%;
        margin-left: 5%;
        /* background-color: red; */
    }

    .cad-blog-label-bgd {
        margin-top: 7.5%;
        margin-left: 5%;    
        font-size: 2.3em;
    }

    .cad-blog-image-header{
        margin-left: 5%;
        width: 600px;
        height: 220px;
    }

    .cad-blog-load-image-btn {
        width: 200px;
        height: 55px;
        font-size: 1.5em;
        border: 3px solid #ccc;
        box-shadow: 1px 1px 1.2px 0px #999;
        border-radius: 30px;
        background-color: #fafafa;
        margin: 75px auto;
    }

    .cad-blog-textarea-container{
        margin-top: 10%;
        margin-left: 5%;
    }

    .cad-blog-label {
        font-size: 1.8em;
        margin-bottom: 10px;
    }

    .cad-blog-textarea{
        font-size: 1.6em;
        width: 1200px;
        height: 575px;
        padding: 10px;
    }

    .cad-blog-submit-btn{
        width: 200px;
        height: 55px;
        font-size: 1.5em;
        border: 4px solid rgb(238, 191, 104);
        box-shadow: 1px 1px 1.2px 0px rgb(245, 217, 166);
        border-radius: 6px;
        margin: 75px auto;
    }
}

@media only screen and (max-width: 1486px) {

    .cad-blog-box{
        margin-left: 10%;
        width: fit-content;
        height: auto;
        display: inline-block;
    }

    .cad-blog-title-input-container{
        display: flex;
        margin-top: 5%;
        margin-left: 22%;
    }

    .cad-blog-title-input{
        border: none;
        outline: none;
        margin-right: 10px;
        border-bottom: 1px solid #AAA;
        width: 600px;
        font-size: 2.3em;
    }

    .cad-blog-label-input{
        font-size: 2.3em;
        padding-right: 64px;
        padding-left: 10px;
    }

    .cad-blog-bgd-container{
        margin-top: 5%;
        margin-left: 5%;
        /* background-color: red; */
    }

    .cad-blog-label-bgd {
        margin-top: 7.5%;
        margin-left: 5%;    
        font-size: 2.3em;
    }

    .cad-blog-image-header{
        margin-left: 5%;
        width: 600px;
        height: 220px;
    }

    .cad-blog-load-image-btn {
        width: 200px;
        height: 55px;
        font-size: 1.5em;
        border: 3px solid #ccc;
        box-shadow: 1px 1px 1.2px 0px #999;
        border-radius: 30px;
        background-color: #fafafa;
        margin: 75px auto;
    }

    .cad-blog-textarea-container{
        margin-top: 10%;
        margin-left: 5%;
    }

    .cad-blog-label {
        font-size: 1.8em;
        margin-bottom: 10px;
    }

    .cad-blog-textarea{
        font-size: 1.6em;
        width: 1000px;
        height: 575px;
        padding: 10px;
    }

    .cad-blog-submit-btn{
        width: 200px;
        height: 55px;
        font-size: 1.5em;
        border: 4px solid rgb(238, 191, 104);
        box-shadow: 1px 1px 1.2px 0px rgb(245, 217, 166);
        border-radius: 6px;
        margin: 75px auto;
    }
}

@media only screen and (max-width: 1024px) {

    .cad-blog-box{
        margin-left: 10%;
        width: fit-content;
        height: auto;
        display: inline-block;
    }

    .cad-blog-title-input-container{
        display: flex;
        margin-top: 5%;
        margin-left: 12.5%;
    }

    .cad-blog-title-input{
        border: none;
        outline: none;
        margin-right: 10px;
        border-bottom: 1px solid #AAA;
        width: 500px;
        font-size: 2.3em;
    }

    .cad-blog-label-input{
        font-size: 2.3em;
        padding-right: 90px;
        padding-left: 0px;
    }

    .cad-blog-bgd-container{
        margin-top: 5%;
        margin-left: 0%;
        margin-right: 5%;
        /* background-color: red; */
    }

    .cad-blog-label-bgd {
        width: fit-content;
        margin-top: 7.5%;
        margin-left: 5%;    
        font-size: 2.3em;
    }

    .cad-blog-image-header{
        margin-left: 5%;
        width: 600px;
        height: 220px;
    }

    .cad-blog-load-image-btn {
        width: 200px;
        height: 55px;
        font-size: 1.5em;
        border: 3px solid #ccc;
        box-shadow: 1px 1px 1.2px 0px #999;
        border-radius: 30px;
        background-color: #fafafa;
        margin: 75px auto;
    }

    .cad-blog-textarea-container{
        margin-top: 10%;
        margin-left: 5%;
    }

    .cad-blog-label {
        font-size: 1.8em;
        margin-bottom: 10px;
    }

    .cad-blog-textarea{
        font-size: 1.6em;
        width: 750px;
        height: 575px;
        padding: 10px;
    }

    .cad-blog-submit-btn{
        width: 200px;
        height: 55px;
        font-size: 1.5em;
        border: 4px solid rgb(238, 191, 104);
        box-shadow: 1px 1px 1.2px 0px rgb(245, 217, 166);
        border-radius: 6px;
        margin: 75px auto;
    }

}

@media only screen and (max-width: 768px) {

    .cad-blog-box{
        margin-left: 5%;
        width: fit-content;
        height: auto;
        display: inline-block;
    }

    .cad-blog-title-input-container{
        display: flex;
        margin-top: 5%;
        margin-left: 12%;
    }

    .cad-blog-title-input{
        border: none;
        outline: none;
        margin-right: 10px;
        border-bottom: 1px solid #AAA;
        width: 385px;
        font-size: 2.3em;
    }

    .cad-blog-label-input{
        font-size: 2.3em;
        padding-right: 45px;
        padding-left: 0px;
    }

    .cad-blog-bgd-container{
        margin-top: 5%;
        margin-left: 0%;
        margin-right: 0%;
        /* background-color: red; */
    }

    .cad-blog-label-bgd {
        width: fit-content;
        margin-top: 7.5%;
        margin-left: 5%;    
        font-size: 2.3em;
    }

    .cad-blog-image-header{
        margin-left: 0%;
        margin-right: 15%;
        width: 500px;
        height: 220px;
    }

    .cad-blog-load-image-btn {
        width: 200px;
        height: 55px;
        font-size: 1.5em;
        border: 3px solid #ccc;
        box-shadow: 1px 1px 1.2px 0px #999;
        border-radius: 30px;
        background-color: #fafafa;
        margin: 75px auto;
    }

    .cad-blog-textarea-container{
        margin-top: 10%;
        margin-left: 5%;
    }

    .cad-blog-label {
        font-size: 1.8em;
        margin-bottom: 10px;
    }

    .cad-blog-textarea{
        font-size: 1.6em;
        width: 600px;
        height: 575px;
        padding: 10px;
    }

    .cad-blog-submit-btn{
        width: 200px;
        height: 55px;
        font-size: 1.5em;
        border: 4px solid rgb(238, 191, 104);
        box-shadow: 1px 1px 1.2px 0px rgb(245, 217, 166);
        border-radius: 6px;
        margin: 30px 0px 25px 205px;
    }
}

@media only screen and (max-width: 475px) {
    .cad-blog-box{
        margin-left: 5%;
        width: fit-content;
        height: auto;
        display: inline-block;
    }

    .cad-blog-title-input-container{
        display: flex;
        margin-top: 5%;
        margin-left: 15%;
    }

    .cad-blog-title-input{
        border: none;
        outline: none;
        margin-right: 10px;
        border-bottom: 1px solid #AAA;
        width: 120px;
        font-size: 1.7em;
    }

    .cad-blog-label-input{
        font-size: 2.3em;
        padding-right: 45px;
        padding-left: 0px;
    }

    .cad-blog-bgd-container{
        display: inline-block;
        margin-top: 5%;
        margin-left: 15%;
        margin-right: 0%;
        /* background-color: red; */
    }

    .cad-blog-label-bgd {
        width: fit-content;
        margin-top: 7.5%;
        margin-left: 5%;    
        font-size: 2.3em;
    }

    .cad-blog-image-header{
        margin-left: 0%;
        margin-right: 15%;
        width: 285px;
        height: 220px;
    }

    .cad-blog-load-image-btn {
        width: 200px;
        height: 55px;
        font-size: 1.5em;
        border: 3px solid #ccc;
        box-shadow: 1px 1px 1.2px 0px #999;
        border-radius: 30px;
        background-color: #fafafa;
        margin: 35px auto;
    }

    .cad-blog-textarea-container{
        margin-top: 10%;
        margin-left: 5%;
    }

    .cad-blog-label {
        font-size: 1.8em;
        margin-bottom: 10px;
    }

    .cad-blog-textarea{
        font-size: 1.6em;
        width: 320px;
        height: 475px;
        padding: 10px;
    }

    .cad-blog-submit-btn{
        width: 155px;
        height: 55px;
        font-size: 1.5em;
        border: 4px solid rgb(238, 191, 104);
        box-shadow: 1px 1px 1.2px 0px rgb(245, 217, 166);
        border-radius: 6px;
        margin: 30px auto;
    }
    
}

@media only screen and (max-width: 400px) {
    .cad-blog-box{
        margin-left: 5%;
        width: fit-content;
        height: auto;
        display: inline-block;
    }

    .cad-blog-title-input-container{
        display: flex;
        margin-top: 5%;
        margin-left: 10%;
    }

    .cad-blog-title-input{
        border: none;
        outline: none;
        margin-right: 10px;
        border-bottom: 1px solid #AAA;
        width: 120px;
        font-size: 1.7em;
    }

    .cad-blog-label-input{
        font-size: 2.3em;
        padding-right: 15px;
        padding-left: 0px;
    }

    .cad-blog-bgd-container{
        display: inline-block;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 0%;
        /* background-color: red; */
    }

    .cad-blog-label-bgd {
        width: fit-content;
        margin-top: 7.5%;
        margin-left: 5%;    
        font-size: 2.0em;
    }

    .cad-blog-image-header{
        margin-left: 0%;
        margin-right: 15%;
        width: 285px;
        height: 220px;
    }

    .cad-blog-load-image-btn {
        width: 200px;
        height: 55px;
        font-size: 1.5em;
        border: 3px solid #ccc;
        box-shadow: 1px 1px 1.2px 0px #999;
        border-radius: 30px;
        background-color: #fafafa;
        margin: 35px auto;
    }

    .cad-blog-textarea-container{
        margin-top: 10%;
        margin-left: 5%;
    }

    .cad-blog-label {
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    .cad-blog-textarea{
        font-size: 1.4em;
        width: 275px;
        height: 475px;
        padding: 10px;
    }

    .cad-blog-submit-btn{
        width: 155px;
        height: 55px;
        font-size: 1.5em;
        border: 4px solid rgb(238, 191, 104);
        box-shadow: 1px 1px 1.2px 0px rgb(245, 217, 166);
        border-radius: 6px;
        margin: 30px auto;
    }
    
}

@media only screen and (max-width: 320px) {
    .cad-blog-box{
        margin-left: 5%;
        width: fit-content;
        height: auto;
        display: inline-block;
    }

    .cad-blog-title-input-container{
        display: flex;
        margin-top: 5%;
        margin-left: 3%;
    }

    .cad-blog-title-input{
        border: none;
        outline: none;
        margin-right: 10px;
        border-bottom: 1px solid #AAA;
        width: 120px;
        font-size: 1.7em;
    }

    .cad-blog-label-input{
        font-size: 2.3em;
        padding-right: 45px;
        padding-left: 0px;
    }

    .cad-blog-bgd-container{
        display: inline-block;
        margin-top: 5%;
        margin-left: 0%;
        margin-right: 0%;
        /* background-color: red; */
    }

    .cad-blog-label-bgd {
        width: fit-content;
        margin-top: 7.5%;
        margin-left: 5%;    
        font-size: 2.3em;
    }

    .cad-blog-image-header{
        margin-left: 0%;
        margin-right: 15%;
        width: 285px;
        height: 220px;
    }

    .cad-blog-load-image-btn {
        width: 200px;
        height: 55px;
        font-size: 1.5em;
        border: 3px solid #ccc;
        box-shadow: 1px 1px 1.2px 0px #999;
        border-radius: 30px;
        background-color: #fafafa;
        margin: 35px auto;
    }

    .cad-blog-textarea-container{
        margin-top: 10%;
        margin-left: 5%;
    }

    .cad-blog-label {
        font-size: 1.8em;
        margin-bottom: 10px;
    }

    .cad-blog-textarea{
        font-size: 1.4em;
        width: 235px;
        height: 475px;
        padding: 10px;
    }

    .cad-blog-submit-btn{
        width: 155px;
        height: 55px;
        font-size: 1.5em;
        border: 4px solid rgb(238, 191, 104);
        box-shadow: 1px 1px 1.2px 0px rgb(245, 217, 166);
        border-radius: 6px;
        margin: 30px auto;
    }
    
}

