.debug {
    border: 1px dotted red;
}

.containerPrincipal{
    width: 100%;
    background-image: url('../../../assets/img/background.png');
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent !important;
}

#root{
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/img/background.png');
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent !important;
}

.cad-blog-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.divTituloArtigo{
    margin-top: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.inputTituloArtigo{
    border: none;
    outline: none;
    border-bottom: 1px solid #AAA;
    width: 80%;
    background-color: transparent;
    font-size: 2.3em;
}

.labelTituloArtigo{
    width: 15%;
    font-size: 2rem;
}

.cad-blog-bgd-container{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    /* background-color: red; */
}

.cad-blog-label-bgd {
    margin-top: 7.5%;
    margin-left: 5%;    
    font-size: 2.3em;
    display: block;
}

.cad-blog-image-header{
    margin-left: 5%;
    width: 900px;
    height: 220px;
    background-image: url('../../../assets/img/curso-image-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cad-blog-load-image-btn {
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    width: 200px;
    height: 55px;
    font-size: 1.5em;
    text-align: center;
    border: 3px solid #ccc;
    box-shadow: 1px 1px 1.2px 0px #999;
    border-radius: 30px;
    background-color: #fafafa;
    display: block;
    margin: 75px auto;
}

.divCabecalhoArtigo{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-right: 5%;
}

.botaoVoltar{
    align-self: flex-end;
    margin-left: 5%;
    color: black;
}

.divArtigoBlog{
    display: block;
    margin-top: 10%;
    margin-left: 5%;
}

.cad-blog-label {
    font-size: 1.8em;
    display: block;
    margin-bottom: 10px;
}

.cad-blog-textarea{
    font-size: 1.6em;
    text-align: justify;
    white-space: normal;
    width: 1350px;
    height: 575px;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.cad-blog-submit-btn{
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    width: 200px;
    height: 55px;
    font-size: 1.5em;
    text-align: center;
    border: 4px solid rgb(238, 191, 104);
    box-shadow: 1px 1px 1.2px 0px rgb(245, 217, 166);
    border-radius: 6px;
    background-color: whitesmoke;
    display: block;
    margin: 75px auto;
}

.tituloCadastrarArtigo{
    text-align: center;
    width: 100%;
}

.divTextoArtigo{
    margin-top: 20px;
    width: 75%;
}

.botaoSalvarArtigo{
    border:none;
    border-radius: 15px;
    align-self: center;
    height: 2rem;
    background-color: #28F600;
    color: white;
    font-weight: bold;

    margin-top: 0.5rem;

    margin-left: auto;
    display: flex;
    align-self: center;
    margin-right: 0rem;
}