<div style="font-family: Roboto, Helvetica, sans-serif; 
            font-size:16px; 
            line-height:1.6; 
            color: #222; 
            background-color: #F6DC94;
            padding: 20px;
            text-align: center;"
            >
  {{{body}}}
  {{>footer}}
</div>
