.panelUser-principal {
    width: 100%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-image: url('../../../assets/img/background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: baseline;
}

.panelUser-container {
    width: 100%;
    height: 100%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.panelUser-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem 0 2rem;
}

.panelUserCreate-user-btn {
    width: 150px;
    height: 40px;
    margin-top: 16px;
    font-size: 1.1em;
    border: 3px #808080;
    background-color: rgb(76, 246, 70);
    border-radius: 7px;
    /* height: 1.75rem; */
    width: auto;
    border: none;
    font-weight: bold;
    color: #808080;
    cursor: pointer;
    outline: none;
}

.panelUser-h2 {
    text-align: left;
    font-size: 1.25rem;
}

.panelUser-input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    padding-left: 0.25rem;
}

.panelUser-table {
    width: 100%;
    padding: 0rem 2rem 0 2rem;
    min-width: 80%;
    font-size: 18px;
}


/*
.panelUser-table-container{
    height: fit-content;
    width: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem 5rem 0 5rem;
    background-color: #fafafa;
    border: 2px rgb(0, 0, 0);
    border-radius: 6px;
    box-shadow: 1.2px 1.0px 1.0px 1.0px rgb(0, 0, 0);
} */

.panelUser-div-users {
    background-color: #fafafa;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 1.2px 1.0px 1.2px 1.0px rgb(0, 0, 0);
    align-content: center !important;
}

.panelUser-info-curso {
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    /* text-align: left; */
}

.panelUser-contents {
    margin: 15px
}

.panelUser-p {
    font-size: 1.20rem;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center !important;
    align-items: center !important;
    align-content: center !important;
}

.panelUser-btn-group {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}

.panelUser-btn {
    width: auto;
    height: auto;
    margin-right: 5px;
    background-color: #fafafa;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn-excluir {
    color: #DE2626;
}

.btn-editar {
    color: #266CDE;
}

.divInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    white-space: nowrap;
}

.selectTipoUsuarioOK {
    width: auto;
    height: 30px;
    border-radius: 5px;
    outline: none;
}