.fCourses{
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-image: url('../../../assets/img/background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fCourses > .title{
    text-align: center;
    width: 60%;
    margin:2%;
    color: #3d3d3d;
    border-bottom: 1.5px solid #3d3d3d;
}

.fCourses > .cards{
    margin-top: 2%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;

    list-style-type: none;
}

.fCourses > .cards > .pointer{
    align-self: center;
    cursor: pointer;
    color:#696969;
}

.fCourses > .cards > .card{
    width: 300px;
    height: 400px;

    background:url('../../../assets/img/pergaminho.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fCourses > .cards > .card > img{
    width: 70%;
    margin-top: 90px;
}

.fCourses > .cards > .card > .title{
    width: 55%;
    text-align: center;
}

.fCourses > .cards > .card > .btn{
    width: 60%;
    height: 8%;
    border-radius: 6%;
    margin-bottom: 20%;
    border: 1px solid rgba(213,182,115,1);
    background-color: white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.fCourses > .cards > .card > .btn:hover{
    background-color:rgba(213,182,115,1) ;
}

.fCourses > .list{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fCourses > .list > li{
    cursor: pointer;
    list-style: none;
}
.fCourses > .list > #visited{
    border-bottom: 1px solid black;
}
@media only screen and (max-width: 600px) {
    .fCourses > .list{
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
  }