.principal{
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-image: url("../../assets/img/fundoHome.jpeg");
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo{
    position: absolute;
    color: white;
    text-shadow: 2px 2px 10px #000000;
    font-size: 50px;
}

.subtitulo{
    margin-top: 100px;
    position: absolute;
    color: white;
    text-shadow: 2px 2px 10px #000000;
    font-size: 25px;
}

.whats{
    padding:3px;
    background: #1bd741;
    width: 3rem;
    height: auto;
    position: fixed;
    left: 15px;
    bottom: 15px;
    z-index: 5000;

    border-radius: 30px;
    border:1px solid green;
}