.index{
    width: 100%;
    height: 100%;
}
.whats{
    padding:3px;
    background: #1bd741;
    width: 3rem;
    height: auto;
    position: fixed;
    left: 1.5rem;
    bottom: 1.5rem;
    z-index: 5000;

    border-radius: 30px;
    border:1px solid rgb(9, 148, 9);
}