<div style="font-family: sans-serif">
  <h2 style="text-align: center">Esqueceu a senha?</h2>
  <p>
    Você deverá o seguinte código na tela do site dentro de 
    <strong>10 minutos</strong> a partir do recebimento deste e-mail. 
    Enviando o código correto, você será redirecionado para uma outra 
    tela para modificar sua senha.
    <strong style = "color: crimson;">
      Copie o código inteiro abaixo e cole no campo especificado no site:
    </strong>
  </p>
  <br>
  <strong style="overflow-wrap: break-word">{{code}}</strong>
</div>