<div style="font-family: sans-serif">
  <h2 style="text-align: center">Pagamento de serviço aprovado!</h2>
  <p>
    O serviço {{name}} que você comprou pelo site OCC teve o pagamento aprovado
    por nossos administradores, mas antes de consumí-lo, precisamos de algumas
    informações suas:
    <strong style = "color: crimson;">
      Preencha o formulário a seguir, assim que recebermos sua resposta, 
      entraremos em contato para informarmos novas instruções.
    </strong>
  </p>
  <br>
  <a href ={{link}} style="overflow-wrap: break-word">{{link}}</a>
</div>