.principal{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-image: url('../../../assets/img/background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 80%;
}

.divLogo{
    text-align: center;
}

.imagemLogo{
    width: 20vw;
}


.titulo{
    color: black;
    align-self: center;
    font-size: 1.2rem;
    text-align: center;
}

.titulo > h1{
    text-shadow: 0px 0px 20px #696969;
}

.subtitulo{
    display: flex;
    justify-content: center;
    border-top: solid 2px #696969;
}

.subtitulo > h4{
    text-shadow: 0px 0px 20px #696969;
}

@media only screen and (max-width: 600px) {
    .imagemLogo{
        width: 30vh;
    }
    .titulo{
        font-size: 0.8rem;
    }
}
