.navbar{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    height: 10%;
}

.itemMenu{
    margin-left: 2%;
    display: flex;
    align-self: center;
}

.itemMenuLogo{
    height: 3.5rem;
    width: auto;
    padding: 0.3rem;

}

.itemMenu > li{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.itemMenu > li:hover{
    list-style-type: none;
    text-decoration: bold;
    border-bottom: 1px solid #696969;
    cursor: pointer;
}

.itemMenuDireita{
    margin-left: auto;
    display: flex;
    align-self: center;
    margin-right: 1.5rem;
}

.itemMenuDireita > li{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.itemMenuDireita > li:hover{
    list-style-type: none;
    text-decoration: bold;
    border-bottom: 1px solid #696969;
    cursor: pointer;
}