.footerMenu{
    /* width: 100%;*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 15px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(213,182,115,1) 100%);
    /*position: fixed;*/
    bottom: 0;
    
}

.footerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    padding-left: 150px;
    padding-right: 150px;
}

.row1{
    width: 239px;
    padding-right: 25px;

    float: left;
    text-align: left;
}

.row2{
    padding-right: 150px;
    padding-left: 150px;
    float: left;
    text-align: left;
}

.row3{
    width: 230px;
    padding-left: 25px;

    float: left;
    text-align: left;
}

.icon-list{
    cursor: pointer;
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #696969;
}

a:hover{
    text-decoration: bold;
    border-bottom: 1px solid #696969;
}