.formulario{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Times New Roman', Times, serif;
}

.contatoTitulo{
    margin-bottom: 5px;
}

.contato{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #696969;
    margin-bottom: 30px;
    color: #696969;
}

.inputSimples{
    border-radius: 10px;
    height: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: groove;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

    outline: 0;
}

.inputTexto{
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 80px;
    padding-left: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    resize: none;
}

.submit{
    margin-top: 20px;
    width: 7rem;
    height: 37px;
    border-radius: 30px 30px 30px 30px;
    border-style: groove;
    background-color: #FFEEC5;
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;

}

.submit:hover{
    font-weight: bold;
    background-color: rgb(250, 228, 178) ;
    border-style: solid;
}
