.curso-box{
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/img/background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.curso-container{
    display: flex;
    justify-content: center;
    height: 100%;
}

.descriptionCurso{
    margin-left: 20px;
    width: 100%;
}

.curso-button-content{
    margin-top: 2%;
    height: fit-content;
    width: fit-content;
    display: inline-block;
    width:20%;
}

.curso-module{
    width: 100%;
    text-align: center;
    border: 2px solid rgb(197, 151, 66);
    box-shadow: 1px 1px 1.2px 0px rgb(245, 217, 166);
    background-color: #fafafa;
    border-radius: 4px;
}

.curso-image-header{
    height: 175px;
    width: 375px;
    border: 2px solid #fafafa;
    background-image: url("../../../assets/img/curso-image-header.jpg");
    background-position: top;
    background-repeat: no-repeat !important;
    background-size: cover !important
}

.curso-module-btn-group{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin-top: 2%;
    margin-left: 1%;
}

.curso-module-header{
    width: 375px;
    height: 100px;
    cursor: default;
    text-align: center;
    font-size: 0.8em;
    border: 2px solid rgb(197, 151, 66);
    box-shadow: 1px 1px 1.2px 0px rgb(245, 217, 166);
    border-radius: 4px;
    background-color: #fafafa;
    text-decoration: none;
    display: block;
}

.curso-img{
    width: 100%;
    height: auto;
}

.curso-module-btn {
    font-size: 1.3em;
    font-family: "Bookman Old Style";
    cursor: pointer;
    width: 100%;
    height: 80px;
    border-radius: 4px;
    border: 2px solid rgb(197, 151, 66);
    box-shadow: 1px 1px 1.2px 0px rgb(245, 217, 166);
    background-color: #fafafa;
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    display: block;
}

.curso-module-span{
    font-size: 1.3em;
    font-family: "Bookman Old Style";
    cursor: pointer;
    width: 100%;
    height: 80px;
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    display: block;
    background-color: transparent;
    border: transparent;
}
  
.curso-module-btn:hover {
    opacity: 1;
}

/* Prevent double borders */
/*.curso-module-btn-group .curso-module-btn:not(:last-child) {
    border-bottom: none; 
}
*/

.curso-comentario{
    text-align: center;
}

.curso-content{
    display: flex;
    flex-direction: column;
    height: initial;
    width: 70%;
}

.curso-header-name{
    width: 100%;
    padding-bottom: 0.5px;
    margin-bottom: 3%;
    margin-left: 20px;
    box-shadow: 0px 1.2px 0px 0px rgb(0, 0, 0);
}

.curso-title{
    text-align: left;
    margin-top: 0;
}

.curso-classes{
    border: 2px solid rgb(0, 0, 0);
    width: fit-content;
}

.selectTipoUsuario{
    width: 100%;
}

.textAreaCurso{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textAreaCurso > textarea{
    width: 100%;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    resize: none;
    border-radius: 5px;
}

.curso-video{
    margin-left: 20px;
    border: 1px;
    width: 100%;
    height: 100%;
}

.li-no-bullets{
    list-style-type: none;
}

.curso-h2{
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    font-weight:normal;
    box-shadow: 0px 1.2px 0px 0px rgb(0, 0, 0);
}

.notbold{
    font-weight:normal;
}

@media only screen and (max-width: 600px) {
    .curso-module-btn{
        font-size: small;
    }

    .curso-h2{
        font-size: medium;
    }

    .curso-module-name{
        font-size: medium;
    }
}
