.navbar{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    height: 10%;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
    background-image: url('../../../assets/img/background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.itemMenu{
    margin-left: 20px;
    flex-grow: 0;
    flex-basis: auto;
    flex-shrink: 3;
    text-decoration: none; 
    /* display: flex;
    align-self: center; */
}

.itemMenuLogo{
    height: 3.5rem;
    width: auto;
    padding: 0.3rem;
}

.itemMenu > li{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.itemMenu > a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.itemMenu > a:hover{
    list-style-type: none;
    text-decoration: bold;
    border-bottom: 1px solid #696969;
    cursor: pointer;
}
.itemMenu > li:hover{
    list-style-type: none;
    text-decoration: bold;
    border-bottom: 1px solid #696969;
    cursor: pointer;
}

.itemMenuDireita{
    margin-left: auto;
    display: flex;
    align-self: center;
    margin-right: 1.5rem;
}

.itemMenuDireita > li{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.itemMenuDireita > li:hover{
    list-style-type: none;
    text-decoration: bold;
    border-bottom: 1px solid #696969;
    cursor: pointer;
}