.feedback{
  min-height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-image: url('../../../assets/img/background.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  list-style: none;
}

.feedback > .title{
  text-align: center;
  width: 50%;
  margin:2%;
  color: #3d3d3d;
  border-bottom: 1.5px solid #3d3d3d;
}

.feedback > .carousel{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feedback > .carousel > .carouselRow{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.feedback > .carousel > .carouselRow > .pointer{
  cursor: pointer;
  color:#696969;
}

.feedback > .carousel > .carouselRow > .cardCarousel{
  /* padding: 2%; */
  align-self: center;
}

.feedback > .carousel > .carouselRow > .cardCarousel > .name{
  text-align: center;
  font-size: 1.6rem;
}

.feedback > .carousel > .carouselRow > .cardCarousel > .text{
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 500;
}

.feedback > .list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.feedback > .list > li{
  padding: 1vh;
  color: #696969;
}

.feedback > .list > #visitedCircle{
  padding: 1vh;
  color: black;
}

.feedback > .list > li > .iconCircle{
  height: 50%;
}
@media only screen and (max-width: 600px) {
  .feedback > .title{
    width: 70%;
  }
  .feedback > .carousel{
    width: 96%;
  }
}